:root {
    --main-bg-color: rgb(194, 0, 0);
    --text-color: rgb(255, 255, 255);
}

body { 
	background-color: black;

}

/*https://stackoverflow.com/questions/3779771/html-5-video-stretch*/
.video-wrapper {
    position: absolute;
	background-repeat: repeat;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: -1;
	 -webkit-transform: scale(2); 
 	 -moz-transform: scale(2);

	
}

#secTimer {
    float: right;
    font-size: 3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    color: var(--text-color);
    text-shadow: 2px 2px var(--main-bg-color);
}
#wrapper {
    position: absolute;
    left: 30%;
    top: 20%;
    width: 700px;
    height: 500px;
    border: 5px solid var(--main-bg-color);
    background-color: white;
}
#questionsSec {
    margin: 20px;
}

#startQuiz {
    background-color: var(--main-bg-color);
    margin-left: 37%;
    padding: 15px 32px;
    font-size: 20px;
    color: var(--text-color);
}

#Submit {
    background-color: var(--main-bg-color);
    margin-left: 35%;
    padding: 15px 32px;
    font-size: 20px;
    color: var(--text-color);
}

#goBack {
    background-color: var(--main-bg-color);
    position: relative;
    padding: 10px;
    font-size: 20px;
    color: var(--text-color);
    top: 30%;
    left: 55%;
    width: auto;
    text-align: center;
    text-decoration: none;
}

#clear {
    background-color: var(--main-bg-color);
    position: relative;
    padding: 10px;
    font-size: 20px;
    color: var(--text-color);
    top: 30%;
    right: 5%;
    text-align: center;
}

button {
    border-radius: 10px;
	background-color: var(--main-bg-color);
    position: relative;
    padding: 10px;
    font-size: 20px;
    color: var(--text-color);
    top: 30%;

    text-align: center;
}

textarea {
    width: 90%;
    margin: 20px;
}

label {
    margin-right: 30px;
}

input {
    margin-bottom: 20px;
    width: 50%;
    border: 1px solid lightgray;
}

h1 {
    text-align: center;
    font-size: larger;
}

li {
    background-color: var(--main-bg-color);
    margin-top: 10px;
    padding: 5px 15px;
    width: 80%;
    font-size: 18px;
    color: var(--text-color);
}

#divEl {
    margin-top: 20px;
    border-top: 1px solid lightgray;
}


#footer {
  position: absolute;
	text-align: center;
	font-size: larger;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}

/* Media query for 1920px */
@media screen and (max-width: 1920px){
	
    body {
        max-width: 1920px;
	}
    #wrapper {
        position: absolute;
        left: 30%;
    }

    p {
        font-size: 23px;
    }

    a {
        margin-left: 10%;
    }

    #goBack {

        position: relative;
        left: 55%;
    }

    #clear {

        position: relative;
        right: 5%;

    }
}


footer{
    position: absolute;
	display: block;
    background: black;
    height: auto;
    width: 100vw;
    padding-top: 40px;    
	color: #fff;
}

/* Media query for 960px */

@media screen and (max-width: 960px) {

    body {
        max-width: 960px;
    }

    #wrapper {
        position: absolute;
        left: 15%;
		max-width: 500px
    }

    a {
        margin-left: 10%;
    }

    #goBack {

        position: relative;
        left: 55%;
    }

    #clear {

        position: relative;
        right: 5%;

    }
}

/* Media query for 320px*/
@media screen and (max-width: 320px) {

    body {
        min-width: 320px;
    }

    #wrapper {
        position: relative;
        left: 0%;
        width: 280px
    }
#startQuiz {
    margin-left: 15%;
	}
	a {
        margin-left: 10%;
    }


}